<p>
  <strong>Categoría</strong>
  <%= @category.name %>
</p>
 
<p>
  <strong>Código</strong>
  <%= @category.id %>
</p>



<%= link_to 'Back', url_for(:back) %>
<%= link_to 'Editar', edit_category_path%>

