<p>
  <strong>Categoría</strong>
  <%= @category.name %>
</p>
 
<p>
  <strong>Código</strong>
  <%= @category.id %>
</p>



<%= link_to 'Atras', categories_path %> 
<%= link_to 'Editar', edit_product_path%>

