<h1>Modificar Producto</h1>
 
<%= render 'form' %>
 
<%= link_to 'Regresar', products_path %>
<%= link_to 'Eliminar', product_path, method: :delete, data: { confirm: 'Desea eliminar DEFINITIVAMENTE este cproducto?' } %>